<h3 class="text-xl font-bold">Meeting Chats</h3>

<div class="bg-white flex-1 overflow-y-scroll p-4 flex flex-col">
  <div *ngFor="let message of messages" class="flex w-full">
    <app-message [message]="message" [isOwn]="message.created_by === userId" />
  </div>
</div>

<form (submit)="sendMessage()" class="w-full mt-4">
  <mat-form-field class="w-full">
    <mat-label>Message</mat-label>
    <input
      matInput
      [formControl]="messageControl"
      maxlength="400"
      placeholder="Ex. I need help with..."
      class="p-2 border rounded-md w-full"
    />
  </mat-form-field>
</form>
